

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">{{ file.uploaded_file.name }}</h4>
        </div>

        <div class="modal-body">
            <p>This is a TEST </p>
            <img src="{{ file.uploaded_file.name }}"/>
{#             <video name='demo' controls autoplay width='50%' height='40%'>
                <source src="{{media}}/sample.mp4" type="video/mp4"></source>
            </video> #}
        </div>
{#         <div class="modal-footer">

        </div> #}
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

